
.table-wrapper {

    max-height: 50vh;
    overflow-y: auto;
    position: relative;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}


.thead th {
    position: sticky;

    top: 0; 
   
    z-index: 2; 
    background-color: #343a40; 
    color: white;
    box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff; 
}